$border-color: #ddd;
$background-color: #567;
$panel-color: #fff;

$label-color: #666;
$input-border-color: #ddd;
$input-focus-border-color: #4d90fe;
$invalid-color: #ef3e3e;

$input-width: 14rem;
$input-height: 5rem;

$panel-width: 55rem;
