<table class="data-table">
  <colgroup class="data-table__col-group">
    <col class="data-table__col">
    <col class="data-table__col">
    <col class="data-table__col">
    <col class="data-table__col">
    <col class="data-table__col">
  </colgroup>
  <thead class="data-table__head">
  <tr class="data-table__head-row">
    <th class="data-table__head-cell">{{ 'dataTable.column.id' | translate }}</th>
    <th class="data-table__head-cell">{{ 'dataTable.column.int' | translate }}</th>
    <th class="data-table__head-cell">{{ 'dataTable.column.float' | translate }}</th>
    <th class="data-table__head-cell">{{ 'dataTable.column.color' | translate }}</th>
    <th class="data-table__head-cell">{{ 'dataTable.column.child' | translate }}</th>
  </tr>
  </thead>
  <tbody class="data-table__body">
  <ng-container *ngFor="let item of data | slice:0: maxDataSizeForView; trackBy: trackByFn">
    <tr class="data-table__row">
      <td class="data-table__cell">{{ item.id }}</td>
      <td class="data-table__cell">{{ item.int }}</td>
      <td class="data-table__cell" [title]="item.float">{{ item.float }}</td>
      <td class="data-table__cell"><span [style.background-color]="item.color">{{ item.color }}</span></td>
      <td class="data-table__cell">
        <table class="data-table data-table--child">
          <thead class="data-table__head">
          <tr class="data-table__head-row">
            <th class="data-table__head-cell">{{ 'dataTable.column.id' | translate }}</th>
            <th class="data-table__head-cell">{{ 'dataTable.column.color' | translate }}</th>
          </tr>
          </thead>
          <tbody class="data-table__body">
          <tr class="data-table__row">
            <td class="data-table__cell">{{ item.child.id }}</td>
            <td class="data-table__cell"><span [style.background-color]="item.child.color">{{ item.child.color }}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="data-table__row-spacer"></tr>
  </ng-container>
  </tbody>
</table>
