@import 'abstracts';

:host {
  margin: 0 auto;
  background-color: $panel-color;
  display: block;
  border: 1px solid $border-color;
  width: $panel-width;
  max-height: 100%;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}
